<!DOCTYPE html>

{% load static %}

<html>

  <head>
    <title>About</title>
  </head>

  <body>
    <h1>Rango says...</h1>
    Here is some info about me! <strong>{{ boldmessage }}</strong><br />
    <a href="/rango/">Home</a><br />
    <img src="{% static "rango-kiss.jpg" %}" alt="Picture of Rango Kissing" />
  </body>

</html>