<!DOCTYPE html>
<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Add a Page</h1>

    <form id="page_form" method="post" action="/rango/category/{{ category_name_url }}/add_page/">

      <!-- Cross-Site Request Forgery (CSRF) token -->
      <!-- REQUIRED in Django form -->
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in form.visible_fields %}
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }}
      {% endfor %}

      <input type="submit" name="submit" value="Create Page" />
    </form>
  </body>

</html>
