<!DOCTYPE html>
<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Rango says...hello world!</h1>

    {% if categories %}
      <ul>
        {% for category in categories %}
        <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}

    {% if top_pages %}
      <ul>
        {% for top_page in top_pages %}
        <li><a href="{{ top_page.url }}">{{ top_page.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no pages present.</strong>
    {% endif %}

    
    <a href="/rango/about/">About</a>
    <a href="/rango/add_category/">Add a New Category</a>
  </body>
</html>

<!-- {% load static %} -->
<!-- <img src="{% static "rango.jpg" %}" alt="Picture of Rango" /> -->
